.idea
.gradle
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
*/*/*/*/*/.DS_Store
*/*/*/*/*/*/.DS_Store
*/*/*/*/*/*/*/.DS_Store
app/.cxx
app/build
opencv-sdk/.cxx
opencv-sdk/build
opencv-sdk/native/3rdparty/libs
opencv-sdk/native/staticlibs
local.properties
app/src/main/jni/opencv-native1.cpp